<div class="section-title" style="padding: 1rem 0; margin-bottom: 0.5rem">
    <span>Refeição</span>
    <button class="close-edit-btn" (click)="closeEditMeal.emit()">
        <i class="pi pi-times icon-save"></i>
    </button>
</div>
<qn-button
    label="Salvar"
    icon="pi pi-check"
    class="save-repeat-btn close-edit-btn"
    (click)="handleSave()"
/>

@if(editMeal()){
<div class="meal-infos-section">
    <div class="meal-infos-content">
        <qn-text-input
            qnLabel="Nome"
            [(value)]="editMeal()!.name"
            [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
        />
        <p-datepicker
            inputId="calendar-timeonly"
            [timeOnly]="true"
            qnLabel="Hora"
            style="align-self: flex-end; width: 100%"
            class="day-picker"
            [(ngModel)]="formHour"
            [autofocus]="false"
            [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
        />
    </div>

    <qn-text-input
        qnLabel="Descrição"
        [(value)]="editMeal()!.description"
        [qnLabelStyle]="{
                color: 'var(--primary-font-color)'
            }"
        placeholder="Nenhuma descrição adicionada"
    />
    <div class="meal-infos-content">
        <p-datepicker
            [(ngModel)]="formDate"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            style="align-self: flex-end; width: 100%"
            class="day-picker"
            qnLabel="Data de Início"
            [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
            [autofocus]="false"
        />
        <p-datepicker
            [(ngModel)]="formEndDate"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            placeholder="Sem Termino Definido"
            style="align-self: flex-end; width: 100%"
            class="day-picker"
            qnLabel="Data Fim"
            [autofocus]="false"
            [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
        />
    </div>
</div>

<p-divider align="center" type="solid" class="divider-title">
    <span>Informações</span>
</p-divider>

<p-accordion [multiple]="true" style="margin-bottom: 1rem">
    <p-accordion-panel value="0">
        <p-accordion-header (click)="showRepeatConfiguration()">
            <div class="header-repeat-configuration">
                <div
                    class="header-repeat-configuration-title"
                    style="border-left: none"
                >
                    <span>Configuração de Repetição</span>
                </div>
                @if(!showRepeatConfig()){
                <div
                    class="summary-repeat-configuration"
                    animate.enter="anim-enter"
                    animate.leave="anim-leave"
                >
                    <span class="text-summary">
                        {{ summaryRepeatConfiguration() }}
                    </span>
                </div>
                }
            </div>
        </p-accordion-header>
        <p-accordion-content>
            <div class="repeat-configuration-content">
                <div
                    class="repeat-configuration-content-line1"
                    [style.grid-template-columns]="valueRepeat() === 'ONCE' ? '1fr' : '1fr 1fr'"
                >
                    <p-select
                        [options]="optionRepeatConfiguration"
                        [(ngModel)]="valueRepeat"
                        placeholder="Selecione..."
                        class="frequency-select"
                        qnLabel="Repetir"
                        style="width: 100%"
                        [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
                    />

                    @if (valueRepeat() !== 'ONCE') {
                    <div class="config-row">
                        <span class="label">{{ textFrequency().value1 }}</span>
                        <div class="interval-row">
                            <qn-number-input
                                [min]="1"
                                [max]="52"
                                [(value)]="interval"
                                class="interval-input"
                            />
                            <span class="suffix"
                                >{{ textFrequency().value2 }}</span
                            >
                        </div>
                    </div>
                    }
                </div>

                @if (valueRepeat() === 'WEEKLY') {
                <div class="weekdays-section">
                    <span class="label">Dias da semana</span>
                    <div class="diet-details-days-of-week">
                        @for (day of weekDays; track i; let i = $index) {
                        <div
                            (click)="toggleDayOfWeeks(i)"
                            [class.active]="selectedDays().includes(i)"
                            class="day-item"
                            role="button"
                            tabindex="0"
                            [attr.aria-pressed]="selectedDays().includes(i)"
                        >
                            {{ day }}
                        </div>
                        }
                    </div>
                </div>
                } @if (valueRepeat() === 'MONTHLY') {
                <div class="weekdays-section">
                    <span class="label">Dias do mês</span>
                    <p-date-picker
                        [(ngModel)]="selectedMonthDates"
                        class="day-picker"
                        [numberOfMonths]="1"
                        [showOtherMonths]="false"
                        selectionMode="multiple"
                        [showIcon]="true"
                        dateFormat="dd"
                        [minDate]="minViewDate()"
                        [maxDate]="maxViewDate()"
                    />
                </div>
                }
            </div>
        </p-accordion-content>
    </p-accordion-panel>
    <!-- NOVO PAINEL: ALIMENTOS -->
    <p-accordion-panel value="foods-panel">
        <p-accordion-header>
            <div class="header-repeat-configuration">
                <div
                    class="header-repeat-configuration-title"
                    style="border-left: none"
                >
                    <span>Alimentos da Refeição</span>
                </div>
                <div class="summary-repeat-configuration">
                    <span class="text-summary">
                        <!-- Exemplo de resumo: Quantidade de itens ou calorias totais -->
                        {{ editMeal()?.foods?.length || 0 }} item(s)
                        adicionado(s)
                    </span>
                </div>
            </div>
        </p-accordion-header>
        <p-accordion-content>
            <div class="foods-content-wrapper">
                @if (editMeal()?.foods?.length) {
                <div class="foods-list">
                    @for (food of editMeal()?.foods; track $index) {
                    <div class="food-card">
                        <div class="food-info">
                            <span class="food-name"
                                >{{ food.aliment.name}}</span
                            >
                            <div class="food-details">
                                <span class="food-quantity">
                                    {{calculateTotalPortion(food.portion,
                                    food.quantity)}}
                                </span>

                                <span class="food-macro"
                                    >Kcal:
                                    {{food.getTotal('kcal').toFixed(0)}}</span
                                >
                                <span class="food-macro"
                                    >Carboidratos:
                                    {{food.getTotal('carb').toFixed(0)}}g
                                </span>
                                <span class="food-macro"
                                    >Proteínas:
                                    {{food.getTotal('protein').toFixed(0)}}g
                                </span>
                                <span class="food-macro"
                                    >Gorduras:
                                    {{food.getTotal('fat').toFixed(0)}}g</span
                                >
                            </div>
                        </div>
                        <div class="food-actions">
                            <button class="icon-btn edit">
                                <i class="pi pi-pencil"></i>
                            </button>
                            <button class="icon-btn delete">
                                <i class="pi pi-trash"></i>
                            </button>
                        </div>
                    </div>
                    }
                </div>
                } @else { -->
                <!-- ESTADO VAZIO -->
                <div class="empty-state">
                    <i class="pi pi-apple empty-icon"></i>
                    <span>Nenhum alimento adicionado ainda.</span>
                </div>
                }

                <!-- BOTÃO ADICIONAR -->
                <div class="add-food-action">
                    <qn-button
                        label="Adicionar Alimento"
                        icon="pi pi-plus"
                        class="w-full"
                        (click)="showModalNewDiet()"
                    />
                </div>
            </div>
        </p-accordion-content>
    </p-accordion-panel>
</p-accordion>

@if(modalAlimentsVisible()){
<app-aliments-table
    [(modalAlimentsVisible)]="modalAlimentsVisible"
    [mealId]="editMeal()?.id || ''"
/>
} }
