<!-- CONTEÚDO SCROLLÁVEL -->
<div class="content">
    <div class="card">
        <div class="header">
            <h2 class="card-name">Plano De Dietas</h2>
            <qn-button label="Adicionar Dieta" icon="pi pi-plus" />
        </div>

        <div class="details-grid">
            @for (diet of diets(); track diet.id) {
            <div class="diet-card">
                <div class="diet-header">
                    <h3 class="diet-title">{{ diet.name }}</h3>
                    <i class="pi pi-ellipsis-v"></i>
                </div>

                <div class="diet-info">
                    <span class="diet-date"
                        >{{dateFormat(diet.startDate)}} -
                        {{dateFormat(diet.endDate)}}</span
                    >
                    <span class="diet-percentage">85%</span>
                </div>

                <div class="diet-footer">
                    <qn-button
                        label="Ver Detalhes"
                        class="details-button"
                        icon="pi pi-calendar"
                    />
                </div>
            </div>
            }
        </div>
    </div>
</div>
