<qn-div padding="20px"> 
    <qn-div flex-column height="100%">
        <qn-div
            padding="30px 25px 0"
            grid
            columns="auto 1fr"
            alignItems="center"
            textAlign="center"
        >
            <span
                class="pi pi-arrow-left icon-back"
                style="color: var(--black-color); font-size: 20px"
                (click)="goToLogin()"
                title="Login"
            ></span>
            <h2
                [style.color]="'black'"
                [style.font-size]="'22px'"
                [style.font-weight]="'600'"
                [style.margin]="'0'"
            >
                @if(!firstLogin()) { Recuperar Senha }@else { Definir Senha Inicial
                }
            </h2>
        </qn-div>
    </qn-div>
    
    <qn-div
        flex-column
        padding="20px"
        justifyContent="space-between"
        gap="15px"
        [style.flex]="'1'"
    >
        @if(currentStep() === 1) {
        <app-forgot-password-step1 (nextStep)="goToStep(2, $event)" />
        } @if(currentStep() === 2) {
        <app-token
            (nextStep)="goToStep(3, null)"
            (previousStep)="goToStep(1, null)"
            [token]="resetToken()"
            [firstLogin]="firstLogin()"
        />
        }
    </qn-div>

</qn-div>    
