<!-- <qn-div grid columns="1fr" gap="15px">

    <p
        [style.font-size]="'14px'"
        [style.color]="'#666'"
        [style.margin]="'0'"
        [style.line-height]="'1.5'"
    >
        Crie uma nova senha para sua conta.
    </p>

    <qn-password-input [(value)]="newPassword" qnLabel="Nova Senha" />

    <qn-password-input [(value)]="confirmPassword" qnLabel="Confirmar Senha" />

    <qn-button
        [label]="labelButton()"
        (click)="resetPassword()"
        [width]="'70%'"
        cursor="pointer"
    />
</qn-div> -->

<qn-div
    class="login-container"
    flex-column
    gap="15px"
    justifyContent="space-between"
    [style.box-sizing]="'border-box'"
>
    <qn-div class="header">
        <h2 class="login-title">Nova Senha</h2>
        <p
            [style.font-size]="'14px'"
            [style.color]="'#666'"
            [style.margin]="'0'"
            [style.line-height]="'1.5'"
            [style.width]="'100%'"
        >
            Crie uma nova senha para sua conta.
        </p>
    </qn-div>

    <qn-password-input [(value)]="newPassword" qnLabel="Nova Senha" />

    <qn-password-input [(value)]="confirmPassword" qnLabel="Confirmar Senha" />

    <qn-button
        [label]="labelButton()"
        (click)="resetPassword()"
        cursor="pointer"
        class="login-button"
        width="70%"
    />
</qn-div>
