.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25vw;
    min-width: 400px;
    max-width: 500px;
    box-sizing: border-box;

    @media (max-width: 768px) {
    }

    @media (max-width: 480px) {
        min-width: 350px;
        gap: 5px;
    }
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;

    @media (max-width: 768px) {
        max-width: 100%;
    }

    @media (max-width: 480px) {
        gap: 12px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-title {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    justify-self: flex-start;
    width: 100%;

    @media (max-width: 768px) {
        font-size: 1.1rem;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

.input-field {
    width: 100%;
}

.forgot-password {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    &:hover {
        text-decoration: underline;
        color: var(--primary-color);
        transition: all 0.3s ease;
    }

    @media (max-width: 480px) {
        font-size: 0.85rem;
    }
}

.login-button {
    width: 100%;

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}
