<qn-div flex-column gap="10px" justifyContent="space-between">
    <qn-div marginBottom="10px" textAlign="center">
        <p
            [style.font-size]="'14px'"
            [style.color]="'#666'"
            [style.margin]="'0'"
            [style.line-height]="'1.5'"
        >
            Crie uma nova senha para sua conta.
        </p>
    </qn-div>

    <qn-password-input [(value)]="newPassword" qnLabel="Nova Senha" />

    <qn-password-input [(value)]="confirmPassword" qnLabel="Confirmar Senha" />
    <qn-div
        grid
        columns="repeat(2, minmax(auto, 1fr))"
        gap="10px"
        justifyContent="center"
        marginTop="5px"
    >
        @if(!firstLogin()) {
        <qn-button
            label="Voltar"
            width="90%"
            cursor="pointer"
            (click)="previous()"
        />
        }
        <qn-button
            [label]="labelButton()"
            (click)="resetPassword()"
            [width]="firstLogin() ? '70%' : '90%'"
            cursor="pointer"
            [style.grid-column]="firstLogin() ? '1 / -1' : 'auto'"
        />
    </qn-div>
</qn-div>
