<p-inputnumber
    [(ngModel)]="value"
    [showButtons]="true"
    buttonLayout="horizontal"
    spinnerMode="horizontal"
    [min]="min()"
    [max]="max()"
    fluid
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    [style.width]="width()"
    [style.cursor]="cursor()"
>
    <ng-template #incrementbuttonicon>
        <span class="pi pi-plus" style="color: white"></span>
    </ng-template>
    <ng-template #decrementbuttonicon>
        <span class="pi pi-minus"></span>
    </ng-template>
</p-inputnumber>
