<div 
    [style.display]="effectiveDisplay()"
    [style.flex-direction]="effectiveDisplay() === 'flex' ? effectiveFlexDirection() : null"
    [style.gap]="gap()"
    [style.overflow-x]="overflowX()"
    [style.overflow-y]="overflowY()"
    [style.top]="top()"
    [style.left]="left()"
    [style.grid-template-columns]="columns()"
    [style.cursor]="cursor()"
    [style.box-shadow]="shadow()"
    [style.border-radius]="radius()"
    [style.background-color]="color()"
    [style.padding]="effectivePadding()"
    [style.margin]="effectiveMargin()"
    [style.height]="height()"
    [style.width]="width()"
    [style.max-height]="maxHeight()"
    [style.min-height]="minHeight()"
    [style.max-width]="maxWidth()"
    [style.min-width]="minWidth()"
    [style.align-items]="effectiveAlignItems()"
    [style.justify-items]="effectiveJustifyItems()"
    [style.justify-content]="effectiveJustifyContent()"
    [style.align-content]="effectiveAlignContent()"
    [style.transition]="transition()"
    [style.border]="border()"
    [style.text-align]="textAlign()"
    [style.box-sizing]="boxSizing()"
    [style.position]="position()"
    [style.left]="left()"
    [style.right]="right()"
    [style.bottom]="bottom()"
    [style.top]="top()"
    >
    <ng-content></ng-content>
</div>