:host {
    min-height: 100vh;
    background: linear-gradient(to bottom, #f9fafb 0%, #ffffff 100%);
}

.profile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius-input);
    box-sizing: border-box;
    overflow: hidden;
}