.layout-main-container {
    min-height: 100vh;
    max-height: 100vh;
    transition: margin-left var(--layout-section-transition-duration);
    box-sizing: border-box;

    > * {
        box-sizing: border-box;
    }

    @media (max-width: 768px) {
        padding: 6rem 1rem 1rem 1rem;
    }
}

img {
    max-width: none !important;
}

