<p-floatlabel [variant]="labelPosition()">
    <label>{{ label() }}</label>

    <input
        pInputText
        [type]="type()"
        [(ngModel)]="value"
        [autocomplete]="autocomplete()"
        [size]="fontSize()"
        fluid
        [disabled]="disabled()"
        [placeholder]="placeholder()"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [style]="{ width: width(), cursor: cursor() }"
    />

    @if (showMessageHelp()) {

    <small id="message-help">
        {{ messageHelp() }}
    </small>
    }
</p-floatlabel>
