<qn-div flex-column gap="15px" justifyContent="space-between">
    <qn-div marginBottom="10px" textAlign="center">
        <p
            [style.font-size]="'14px'"
            [style.color]="'#666'"
            [style.margin]="'0 0 5px 0'"
            [style.line-height]="'1.5'"
        >
            Digite o código de 6 dígitos enviado para:
        </p>
        <p
            [style.font-size]="'14px'"
            [style.color]="'var(--primary-color)'"
            [style.margin]="'0'"
            [style.font-weight]="'600'"
        >
            {{ email() }}
        </p>
        <qn-text-input
            [(value)]="verificationCode"
            qnLabel="Código de Verificação"
            placeholder="000000"
            maxlength="6"
        />
    </qn-div>
    <qn-div textAlign="center">
        <span
            [style.font-size]="'13px'"
            [style.color]="'#666'"
            [style.margin-right]="'5px'"
        >
            Não recebeu o código?
        </span>
        <a
            href="#"
            [style.color]="'var(--primary-color)'"
            [style.font-size]="'13px'"
            [style.text-decoration]="'underline'"
            [style.font-weight]="'600'"
            [style.cursor]="'pointer'"
        >
            Reenviar
        </a>
    </qn-div>

    <qn-div
        grid
        columns="1fr 1fr"
        rows="1"
        alignItems="center"
        justifyContent="center"
        gap="10px"
        marginTop="10%"
        [style.width]="'100%'"
    >
        <qn-button
            label="Voltar"
            width="90%"
            cursor="pointer"
            (click)="previous()"
        />
        <qn-button
            label="Verificar"
            width="90%"
            cursor="pointer"
            (click)="verify()"
        />
    </qn-div>
</qn-div>
