<qn-div [style.width]="width()">
    <p-inputnumber
        [(ngModel)]="value"
        [prefix]="prefixStandardized()"
        [suffix]="suffixStandardized()"
        [disabled]="disabled()"
        [showClear]="clear()"
        fluid
        [minFractionDigits]="minFractionDigitsComputed()"
        [maxFractionDigits]="maxFractionDigitsComputed()"
        [useGrouping]="thousendDivisor()"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [style.width]="width()"
        [style.cursor]="cursor()"
        [minlength]="min()"
        [maxlength]="max()"
    />
</qn-div>
