<!-- <div class="container-input-password"> -->
<p-floatlabel [variant]="labelPosition()">
    <p-password
        [(ngModel)]="value"
        [feedback]="false"
        [toggleMask]="showPassword()"
        [disabled]="disabled()"
        [size]="fontSize()"
        fluid
        [placeholder]="placeholder()"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [style]="{ width: width(), cursor: cursor() }"
    />
    <label>{{ label() }}</label>
</p-floatlabel>
<!-- </div> -->
