<qn-div flex-column gap="10px" justifyContent="space-between">
    <qn-div marginBottom="10px" textAlign="center">
        <p
            [style.font-size]="'14px'"
            [style.color]="'#666'"
            [style.margin]="'0'"
            [style.line-height]="'1.5'"
        >
            Crie uma nova senha para sua conta.
        </p>
    </qn-div>

    <qn-password-input [(value)]="newPassword" qnLabel="Nova Senha" />

    <qn-password-input [(value)]="confirmPassword" qnLabel="Confirmar Senha" />
    <qn-div
        grid
        columns="1fr 1fr"
        gap="10px"
        justifyContent="center"
        marginTop="5px"
    >
        <qn-button
            label="Voltar"
            width="90%"
            cursor="pointer"
            (click)="previous()"
        />
        <qn-button
            label="Redefinir Senha"
            (click)="resetPassword()"
            width="90%"
            cursor="pointer"
        />
    </qn-div>
</qn-div>
