<qn-div
    minHeight="100vh"
    background="url(/images/nutri-background.png) center/cover"
    flex-column
    justifyContent="center"
    alignItems="center"
    padding="20px"
    position="relative"
>
    <qn-div
        background="white"
        radius="20px"
        overflow="hidden"
        shadow="0 20px 40px rgba(0,0,0,0.1)"
        flex-column
        height="auto"
        position="relative"
        [style.z-index]="'1'"
        center
        [style.max-width]="'500px'"
        [style.width]="'100%'"
        [style.box-sizing]="'border-box'"
        padding="40px"
    >
        <qn-div
            [style.max-width]="'500px'"
            [style.width]="'100%'"
            flex
            justifyContent="center"
            alignItems="center"
            [style.top]="'20px'"
            marginBottom="20px"
        >
            <img
                src="/logo/qn-fit.png"
                alt="QN Fit Logo"
                [style.width]="'140px'"
                [style.height]="'auto'"
                [style.object-fit]="'contain'"
            />
        </qn-div>
        <router-outlet></router-outlet>
    </qn-div>
</qn-div>
