<div class="diet-details-layout">
    <div class="diet-details-header">
        <app-back-button
            text="Voltar aos detalhes"
            (onClick)="goBackToPatient()"
        />
        <span class="diet-details-header-title">{{
            dietPlan()?.diet?.name
        }}</span>
        <div class="diet-details-header-diet-infos">
            <span class="diet-details-header-patient-name"
                ><strong>Paciente:</strong> Nome do Paciente</span
            >
            <div class="diet-details-header-diet-dates">
                <span class="diet-details-header-patient-name"
                    ><strong>Data Início:</strong>
                    {{ dateFormatPtBr(dietPlan()?.diet?.startDate) }}</span
                >
                <span class="diet-details-header-patient-name"
                    ><strong>Data Fim:</strong>
                    {{ dateFormatPtBr(dietPlan()?.diet?.endDate) }}</span
                >
                <i class="pi pi-pencil diet-edit-date"></i>
            </div>
        </div>
    </div>
    <div class="diet-details-sidebar">
        <p-datepicker
            [inline]="true"
            [showWeek]="true"
            fluid
            [(ngModel)]="date"
            (onMonthChange)="doOnMonthChange($event)"
        >
            <ng-template pTemplate="footer">
                <p-button (click)="goToToday()">Hoje</p-button>
            </ng-template>
        </p-datepicker>
    </div>
    <div class="diet-details-content">
        @if (dietPlan()) {
            <div class="diet-details-content-header">
                <span class="diet-details-content-header-date">{{
                    dateFormat()
                }}</span>
                <div class="diet-details-content-header-total-kcals">
                    <span>Total</span>
                    <span class="diet-details-content-header-total-kcals-value">
                        1500 kcal
                    </span>
                </div>
            </div>
            <div class="diet-details-content-meals-list">
                @if (mealsDietRelativeDate().length > 0) {
                    @for (meal of mealsDietRelativeDate(); track $index) {
                        <app-meal-display [meal]="meal" />
                    }
                }
            </div>
        }
    </div>
</div>
