<div
    class="diet-details-layout"
    [class.sidebar-collapsed]="!isCalendarVisible()"
    [ngClass]="{'editing-meal': editingMeal()}"
>
    @if(dietPlan()){
    <div class="diet-details-header">
        <app-patient-diet-details-header
            [patientId]="patientId()"
            [diet]="dietPlan()!.diet"
            (dietUpdated)="refreshDietPlan()"
        />
    </div>

    <div class="diet-details-sidebar" [class.collapsed]="!isCalendarVisible()">
        <div class="calendar-wrapper" [class.hidden]="!isCalendarVisible()">
            <p-datepicker
                [inline]="!deviceService.isMobileSize()"
                [(ngModel)]="date"
                (onMonthChange)="doOnMonthChange($event)"
                [selectOtherMonths]="true"
                [minDate]="dietStartDate()"
                [maxDate]="dietEndDate()"
                class="date"
                [showIcon]="deviceService.isMobileSize()"
                fluid
            >
                <ng-template pTemplate="header" let-api="api">
                    <div class="custom-header">
                        <i
                            class="pi pi-calendar header-icon"
                            style="font-size: 1.4rem"
                            pTooltip="Ocultar calendário"
                            (click)="toggleCalendar()"
                        ></i>
                    </div>
                </ng-template>
            </p-datepicker>
        </div>

        <div class="sidebar-collapsed-content">
            <button
                class="show-calendar-btn"
                (click)="toggleCalendar()"
                pTooltip="Mostrar calendário"
                showDelay="500"
                hideDelay="300"
            >
                <i class="pi pi-calendar"></i>
            </button>
        </div>
    </div>

    <div
        class="diet-details-container"
        [ngClass]="{'edit-open': editingMeal()}"
    >
        <div class="diet-details-content">
            <div class="diet-details-content-header">
                <span class="diet-details-content-header-date"
                    >{{ dateFormat() }}</span
                >
                <div class="diet-details-content-header-total-kcals">
                    <span>Total</span>
                    <span class="diet-details-content-header-total-kcals-value">
                        {{ totalKcalMealsRelativeDate() }} kcal
                    </span>
                </div>
            </div>
            <div class="diet-details-content-meals-list">
                @if (mealsDietRelativeDate().length > 0) { @for (meal of
                mealsDietRelativeDate(); track $index) {
                <app-meal-display
                    [meal]="meal"
                    [class.selected]="editingMeal() === meal"
                    (click)="openEditMeal(meal)"
                >
                </app-meal-display>
                } }
            </div>
        </div>
        @if(editingMeal()) {
        <div class="edit-meal" [ngClass]="{visible: editingMeal()}">
            <app-meal-panel
                (closeEditMeal)="closeEditMeal()"
                [meal]="editingMeal()!"
            />
        </div>
        }
    </div>
    }
</div>
