<!-- <div class="login-container">
    <div class="login-card">

        <qn-text-input
            type="email"
            [(value)]="emailInput"
            qnLabel="E-mail"
            class="input-field"
        />

        <qn-password-input
            [(value)]="passwordInput"
            qnLabel="Senha"
            class="input-field"
        />

        <a href="/forgot-password" class="forgot-password">
            Esqueci minha senha
        </a>


    </div>
</div> -->

<qn-div
    class="login-container"
    flex-column
    gap="15px"
    justifyContent="space-between"
    style="box-sizing: border-box;"
>
    <h2 class="login-title">Login</h2>

    <qn-text-input
        type="email"
        [(value)]="emailInput"
        qnLabel="E-mail"
        width="100%"
        style="width: 100%; max-width: 100%;"
    />

    <qn-password-input
        [(value)]="passwordInput"
        qnLabel="Senha"
        width="100%"
        style="width: 100%; max-width: 100%;"
    />

    <a href="/forgot-password" class="forgot-password">Esqueci minha senha</a>

    <qn-button
        label="Login"
        (click)="doLogin()"
        class="login-button"
        cursor="pointer"
        width="100%"
        [style.align-self]="'center'"
    />
</qn-div>
