<div
    style="
        font-family: system-ui, sans-serif;
        margin: 0 auto;
        width: 100%;
        padding: 16px;
        background-color: #f3f3f3;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        box-sizing: border-box;
        background-color: var(--primary-background-color);
    "
>
    <p>Olá, {{ patient()?.firstName }}!</p>
    
    <!-- <app-meal-display [meal]=""/> -->
</div>

//TODO: BARRA DE PROGRESSO DAS MEALS - MEAL.RECORD !== NULL //TODO: