<qn-div
    minHeight="100vh"
    background="url(/assets/img/nutri-background.png) center/cover"
    flex-column
    justifyContent="center"
    alignItems="center"
    padding="20px"
    position="relative"
>
    <qn-div
        [style.max-width]="'600px'"
        [style.width]="'100%'"
        flex
        justifyContent="center"
        alignItems="center"
        [style.position]="'absolute'"
        [style.top]="'20px'"
    >
        <img
            src="/img/qn-fit-inversed.png"
            alt="QN Fit Logo"
            [style.width]="'100px'"
            [style.height]="'80px'"
            [style.object-fit]="'contain'"
        />
    </qn-div>

    <qn-div
        background="white"
        radius="20px"
        overflow="hidden"
        shadow="0 20px 40px rgba(0,0,0,0.1)"
        flex
        height="400px"
        position="relative"
        [style.z-index]="'1'"
        center
        [style.max-width]="'500px'"
        [style.width]="'100%'"
    >
        <app-login-default-page />
    </qn-div>
</qn-div>
