<!-- <ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Inbox</ion-list-header>
                    <ion-note>hi&#64;ionicframework.com</ion-note>

                    @for (p of appPages; track p; let i = $index) {
                    <ion-menu-toggle auto-hide="false">
                        <ion-item
                            routerDirection="root"
                            [routerLink]="[p.url]"
                            lines="none"
                            detail="false"
                            routerLinkActive="selected"
                        >
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    }
                </ion-list>

                <ion-list id="labels-list">
                    <ion-list-header>Labels</ion-list-header>

                    @for (label of labels; track label) {
                    <ion-item lines="none">
                        <ion-label>{{ label }}</ion-label>
                    </ion-item>
                    }
                    <ion-item lines="none">
                        <ion-label (click)="doLogout()">Logout</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
    </ion-split-pane>
</ion-app> -->
<!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->

<!-- <app-global-toast />
-->
<qn-global-toast />
<router-outlet>
</router-outlet> 