<p-floatlabel [variant]="labelPosition()">
    <textarea
        pTextarea
        style="resize: none"
        [(ngModel)]="value"
        [autocomplete]="autocomplete()"
        [pSize]="fontSize()"
        fluid
        [disabled]="disabled()"
        [placeholder]="placeholder()"
        rows="5"
        cols="30"
        [autoResize]="false"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [style]="{ width: width(), cursor: cursor() }"
    ></textarea>
    <label>{{ label() }}</label>

    @if (showMessageHelp()) {

    <small id="message-help">
        {{ messageHelp() }}
    </small>
    }
</p-floatlabel>
