<div class="diets-section">
    <div class="diets-section-container">
        <div class="diets-content-scroll">
            <div class="diets-section-header">
                <h2 class="diets-section-header-title">Dietas</h2>
                <qn-button
                    label="Adicionar Dieta"
                    icon="pi pi-plus"
                    (click)="showModalNewDiet()"
                />
            </div>

            @if (diets().length > 0) { @for (diet of diets(); track diet.id) {
            <div
                class="diets-card"
                [class.diet-card-active]="diet.status === 'ACTIVE'"
            >
                <div class="diet-card-title">
                    <span class="diet-card-name">{{ diet.name }}</span>
                    <p-chip
                        [label]="(diet.status | dietStatus).value"
                        class="diet-chip"
                        [style.backgroundColor]="(diet.status | dietStatus).color"
                    />
                </div>

                <p class="diet-card-icon">
                    <i class="pi pi-ellipsis-v"></i>
                </p>

                <span class="diet-card-date">
                    {{ dateFormat(diet.startDate) }} até {{
                    dateFormat(diet.endDate) }}
                </span>

                <span class="diet-card-progress">85%</span>

                <qn-button
                    label="Ver Dieta"
                    class="view-diet-button"
                    colorStyle="white"
                    icon="pi pi-calendar"
                    (click)="doOnSeeDiet(diet.id)"
                />
            </div>
            } } @else {
            <div class="empty-diets-state">
                <i class="pi pi-file-o empty-icon"></i>
                <h3>Nenhuma dieta cadastrada</h3>
                <p>
                    Clique em "Adicionar Dieta" para criar a primeira dieta do
                    paciente.
                </p>
                <qn-button
                    label="Adicionar Primeira Dieta"
                    icon="pi pi-plus"
                    class="empty-state-button"
                    (click)="showModalNewDiet()"
                />
            </div>
            }
        </div>
    </div>
</div>
<p-dialog
    header="Nova Dieta"
    [(visible)]="visible"
    [modal]="true"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    [contentStyle]="{ padding: '0' }"
    class="simple-new-diet-dialog"
    appendTo="body"
>
    <div class="dialog-content">
        <qn-text-input
            qnLabel="Nome da Dieta"
            placeholder="Ex: Bulking Semanal – João"
            [qnLabelStyle]="{
                color: 'var(--primary-font-color)'
            }"
            [(value)]="newDiet().name"
        />

        <qn-text-input
            qnLabel="Descrição (opcional)"
            placeholder="Foco em hipertrofia, sem lactose..."
            [qnLabelStyle]="{
                color: 'var(--primary-font-color)'
            }"
            [(value)]="newDiet().description"
        />

        <div class="dates-row">
            <p-date-picker
                qnLabel="Início"
                [showIcon]="true"
                [required]="true"
                [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
                [appendTo]="'body'"
                [(ngModel)]="datesNewDiet().startDate"
                fluid
            />

            <p-date-picker
                qnLabel="Fim (opcional)"
                [showIcon]="true"
                [appendTo]="'body'"
                [qnLabelStyle]="{
                    color: 'var(--primary-font-color)'
                }"
                [(ngModel)]="datesNewDiet().endDate"
                fluid
            />
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <qn-button label="Criar dieta" (click)="createDiet()" />
        </div>
    </ng-template>
</p-dialog>
