.diets-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius-input);
    box-sizing: border-box;
    overflow: hidden;
}
.diets-section-container {
    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-input);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.diets-content-scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
    min-height: 0; // Importante para o flex funcionar
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.diets-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.diets-section-header-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-font-color);
    margin: 0;
}

.diets-card {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--primary-border-color);
    border-radius: var(--border-radius-input);
    padding: 1.5rem;
    gap: 0.5rem;

    &:hover {
        border-color: var(--primary-color);
        transition: all 0.3s ease-in-out;
    }
}

.diet-card-active {
    border-color: #28a746; // Verde para ativo
    background-color: #d4f3db76;
}

.diet-card-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}

.diet-chip {
    font-size: 0.85rem;
    font-weight: 500;
    background-color: var(--blue-color);
    color: var(--white-color);
}

.diet-chip-active {
    background-color: #28a746 !important; // Verde para ativo
}

.diet-card-name {
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--primary-font-color);
    margin: 0;
}

.diet-card-icon {
    color: var(--grey-color);
    justify-self: end;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
    }
}

.diet-card-date {
    font-size: 0.9rem;
    color: var(--grey-color);
    opacity: 0.9;
}

.view-diet-button {
    justify-self: center;
    min-width: 250px;
    width: 60%;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
}
